@using TPTodos.Enums
@model TPTodos.ViewModels.TodoAddVM

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>TodoAddVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateLimite" class="control-label"></label>
                <input asp-for="DateLimite" class="form-control" />
                <span asp-validation-for="DateLimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label>
                Todo : <input type="radio" asp-for="Statut" value="@(State.TODO)"  />
                DOING :<input type="radio" asp-for="Statut" value="@(State.DOING)"  />
                DONE :<input type="radio" asp-for="Statut" value="@(State.DONE)" />
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
